.form-group textarea{
    width:100%;
    border-color: #ced4da;
    border-radius: 4px;
    padding: 10px 10px ;
}

.gridcontainer{
    display: grid;
    height:100%;
    grid-column-gap: 50px;
    grid-template-columns: 20% 70%;
}

.headarea{
    height: 100px;
    background-color: #005DC0;
    color: white;
    padding: 35px 25px;
    margin-bottom: 20px;
}

#listButton{
    align-items: center;
}

.grid-item{
    padding-bottom: 50px;
}

#back-button a{
    color: black;
}
#back-button a:hover{
    text-decoration: none;
}
