.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;
    border-bottom:solid 1px #ccc;
}
.logo-hcmus{
    height: 100px;
    margin: 10px;
    align-self: center;
}
.login-form{
    padding:10px;
}
.input-username{
    display: block;
    margin-bottom: 5px;
}
.input-password{
    display: block;
    margin-bottom: 10px;
}
input{
    width: 200px;
}
.bar{
    display:flex;
}
.fas{
    padding-top:5px;
    padding-right: 5px;
}
a{
    margin-right:10px;
}
.fa-sign-in-alt{
    margin-left:20px;
}
.fa,.fas{
    cursor: pointer;
}
.fa-sign-in-alt:hover{
    color:blue;
}
.search-bar{
    padding:3px 10px;
    border:solid 0.5px #ccc;
    border-radius: 20px;
    width: 400px;
    align-self: center;
}
/*
.search-bar-2{
    display: flex;
    padding:3px 10px;
    border:solid 1px #ccc;
    border-radius: 20px;
    width: calc(100%-10px);
    margin: 5px 5px;
}
*/
.input-search{
    border:none;
    flex-grow:5;
    line-height: 2;
    border-right:solid 1px #ccc;
}
select{
    border:10px none;
}
.btn-search{
    background-color: darkblue;
    color:white;
    border:none;
    border-radius: 20px;
    cursor:pointer;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
.sticky + .main-container {
    padding-top: 100px;
  }
.nav-all{
    background: white;
    border-bottom: 1px solid #ccc;
    z-index: 1;
}

.navbar{
    z-index:1;
}
@media only screen and (min-width: 992px) {
    .navbar {
      display: none !important;
    }
  }
ul{
    list-style: none;
}
.nav-top>ul{
    height: 100%;
    display: table;
    border-collapse: collapse;
    width:250px;
}
.nav-top>ul li{
    display: table-row;
    border-left: 1px solid #ccc;
}
.nav-top .setting{
    border-top:1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.nav-top .fas{
    margin:10px 20px 10px 20px;
}